.login {
  background-image: url("../img/logo.png");
  text-align: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  background-color: black;
  height: 100vh;
}
